server {
    listen 80 default_server;
    root {{ root }}/{{ fqdn }};

    location / {
        try_files maintenance.html $uri $uri.html @backend;
    }

    location @backend {
        include /etc/nginx/uwsgi_params;
        uwsgi_pass {{ fqdn }};

        uwsgi_param Host $host;
        uwsgi_param X-Real-IP $remote_addr;
        uwsgi_param X-Forwarded-For $proxy_add_x_forwarded_for;
        uwsgi_param X-Forwarded-Proto $http_x_forwarded_proto;
    }
}

upstream {{ fqdn }} {
    {% for address in backend_addresses %}
      server {{ hostvars[address]['ansible_%s' | format(ansible_interfaces[0])].ipv4.address  }}:{{ backend_port }};
    {% endfor %}
}
