vrrp_script mysql {
    script "/bin/pidof mysqld"
    interval 2
}

vrrp_instance floating_ip {
    state {{ state }}
    interface ens4
    track_script {
        mysql
    }
    unicast_src_ip {{ node_int_ip }}
    unicast_peer {
        {{ other_node_int_ip }}
    }
    virtual_router_id {{ keepalived_router_id }}
    priority {{ priority }}
    authentication {
        auth_type PASS
        auth_pass yourpassword
    }
    notify_master /etc/keepalived/master.sh 
    notify_backup /etc/keepalived/backup.sh  
}