{
  "url": "http://{{ inventory_hostname }}",
  "server": {
    "port": 2368,
    "host": "0.0.0.0"
  },
  "database": {
    "client": "mysql",
    "connection": {
      "host": "{{ hostvars[groups['database'][0]]['ansible_%s' | format(ansible_interfaces[0])].ipv4.address }}",
      "user": "blog",
      "password": "{{ lookup('passwordstore', 'sdb-ghost/db_user') }}",
      "database": "ghost_db"
    }
  },
  "mail": {
    "transport": "SMTP",
    "options": {
      "service": "Mailgun",
      "auth": {
        "user": "postmaster@sandbox190a597ad92847aab4b5ca436e2e63f4.mailgun.org",
        "pass": "{{ lookup('passwordstore', 'sdb-ghost/mailgun') }}"
      }
    }
  },
  "logging": {
    "transports": [
      "file",
      "stdout"
    ]
  },
  "process": "systemd",
  "paths": {
    "contentPath": "content/"
  },
  "bootstrap-socket": {
    "port": 8000,
    "host": "localhost"
  }
}
                                                                                            