[Unit]
Description={{ app.name }}
After=syslog.target

[Service]
WorkingDirectory={{ app.root }}
ExecStart={{ app.root }}/.venv/bin/uwsgi --ini {{ app.root }}/uwsgi.ini
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
User={{ app.username }}

[Install]
WantedBy=multi-user.target
